{% extends 'layout.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block content %}

<div class="container">
    <h2>Liste des artistes</h2>

    <div class="text-right">
        <a href="{{ path('artiste_inscription') }}" class="btn btn-primary" title="S'inscrire en tant qu'artiste">s'inscrire</a>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <div class="card-deck">
    {% for artiste in artistes %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 m-0 p-0">
                <div class="card" >
                    <a href="{{ path('artiste_show', {'id': artiste.id}) }}">
                    <img src="{{ asset('/images/sqy/'~artiste.image) }}" class="card-img-top" alt="{{ artiste.nom }}">
                    </a>

                    <div class="card-body">
                        <h2 class="card-title">{{ artiste.nom }}</h2>
                        <p class="card-text">{{ artiste.resume | summary }}</p>
                        <a href="{{ path('artiste_show', {'id': artiste.id}) }}" class="btn btn-success">Voir le profil</a>
                        <a href="#" class="btn btn-success" title="Ajouter aux favoris">&#128150;</a>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
