{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    
            <!--*****************************************************
            //////////////////  CONTENU DE LA PAGE  /////////////////
            ******************************************************-->

            <!--///////////////////  ARTISTE  //////////////////-->
            <div class="row">
                <div class="col">

                    <h1 class="text-center">{{ artiste.nom }}</h1>

                    <!--****************** Presentation de l'artiste*****************-->
                    <div class="row">
                        <div class="col">
                            <section class="mb-3">

                                <!-- Présentation -->
                                <div class="media">
                                    <img src="{{ artiste.image }}" class="img-fluid mr-3" alt="...">
                                    <div class="media-body">
                                        {{ artiste.resume }}
                                    </div>
                                </div>

                                <!-- icones favoris et contact -->
                                <div class="text-right">
                                    <a href="#"><i class="fas fa-envelope fa-2x text-white mr-2"></i></a>
                                    <i class="fas fa-heart fa-2x text-white"></i>
                                </div>                                 

                            </section>
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->


                    <!--*********************  Photos  **************************-->
                    <div class="row">
                        <div class="col">
                            <section class="mb-3">

                                <div class="d-flex justify-content-between">
                                    <img src="{{ projet.image1 }}" alt="" class="img-fluid">
                                    <img src="{{ projet.image2 }}" alt="" class="img-fluid">
                                    <img src="{{ projet.image3 }}" alt="" class="img-fluid">
                                </div>

                            </section>
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->


                    {% include 'projet/show.html.twig' %}


                </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div> <!-- /.container -->
    </div> <!-- /.container-fluid -->


    <a href="{{ path('artiste_index') }}">back to list</a>

    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
