{% extends "layout.html.twig" %}

{% block page_title %}Artiste {{ artiste.nom }}{% endblock %}

{% block content %}

    <div class="container">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>

        {% endfor %}


    <!--*****************************************************
            //////////////////  CONTENU DE LA PAGE  /////////////////
            ******************************************************-->

            <!--///////////////////  ARTISTE  //////////////////-->
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Détail de {{ artiste.nom }}</h1>
                </div>

                <div class="col text-right">
                    <a href="{{ path('artiste_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>

                    {#{% if is_granted('ROLE_ADMIN') %}#}
                    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}" class="btn btn-warning" title="Modifier ce message">Modifier &#128393;</a>
                    {{ include('artiste/_delete_form.html.twig') }}
                    {#{% endif %}#}
                </div>

            </div>

            <!--****************** Presentation de l'artiste*****************-->
            <div class="row">
                <div class="col">
                    <section class="mb-3">

                        <!-- Présentation -->
                        <div class="media">
                            <img src="{{ artiste.image }}" class="img-fluid mr-3" alt="...">
                            <div class="media-body">
                                {{ artiste.resume }}
                            </div>
                        </div>

                        <!-- icones favoris et contact -->
                        <div class="text-right">
                            <a href="#"><i class="fas fa-envelope fa-2x text-white mr-2"></i></a>
                            <i class="fas fa-heart fa-2x text-white"></i>
                        </div>

                    </section>
                </div> <!-- /.col -->
            </div> <!-- /.row -->


            <!--*********************  Photos  **************************-->
            <div class="row">
                <div class="col">
                    <section class="mb-3">

                        <div class="d-flex justify-content-between">
                            {#{% for projet in projets %}#}

                                   {% include ('projet/show.html.twig') %}
                  
                            {#{% endfor %}#}
                        </div>

                    </section>
                </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div> <!-- /.container -->

{% endblock %}

