{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Liste des admins{% endblock %}

{% block content %}

<div class="container">
    <h1>Liste des admins </h1>


    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mdp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sudo in sudos %}
            <tr>
                <td>{{ sudo.id }}</td>
                <td>{{ sudo.nom }}</td>
                <td>{{ sudo.mdp }}</td>
                <td>
                    <a href="{{ path('sudo_show', {'id': sudo.id}) }}">show</a>
                    <a href="{{ path('sudo_edit', {'id': sudo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('sudo_new') }}" class="btn btn-primary" title="Créer un nouvel admin">Créer un nouvel admin</a>
    </div>

</div>

{% endblock %}

{#{% endif %}#}
