{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Projet index{% endblock %}

{% block content %}

<div class="container">
    <h1>Liste des projets</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Resume</th>
                <th>ImageProfil</th>
                <th>ImageLogo1</th>
                <th>ImageLogo2</th>
                <th>ImageLogo3</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Image3</th>
                <th>LienFacebook</th>
                <th>LienTwitter</th>
                <th>LienYoutube</th>
                <th>LienSoundcloud</th>
                <th>LienLinkedin</th>
                <th>LienPerso</th>
                <th>IframeSon1</th>
                <th>IframeSon2</th>
                <th>IframeSon3</th>
                <th>IframeVideo1</th>
                <th>IframeVideo2</th>
                <th>IframeVideo3</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.resume }}</td>
                <td>{{ projet.imageProfil }}</td>
                <td>{{ projet.imageLogo1 }}</td>
                <td>{{ projet.imageLogo2 }}</td>
                <td>{{ projet.imageLogo3 }}</td>
                <td>{{ projet.image1 }}</td>
                <td>{{ projet.image2 }}</td>
                <td>{{ projet.image3 }}</td>
                <td>{{ projet.lienFacebook }}</td>
                <td>{{ projet.lienTwitter }}</td>
                <td>{{ projet.lienYoutube }}</td>
                <td>{{ projet.lienSoundcloud }}</td>
                <td>{{ projet.lienLinkedin }}</td>
                <td>{{ projet.lienPerso }}</td>
                <td>{{ projet.iframeSon1 }}</td>
                <td>{{ projet.iframeSon2 }}</td>
                <td>{{ projet.iframeSon3 }}</td>
                <td>{{ projet.iframeVideo1 }}</td>
                <td>{{ projet.iframeVideo2 }}</td>
                <td>{{ projet.iframeVideo3 }}</td>
                <td>
                    <a href="{{ path('projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('projet_new') }}" class="btn btn-primary" title="Créer un nouveau projet">Créer un nouveau projet</a>
    </div>

</div>

{% endblock %}

{#{% endif %}#}