{% extends 'layout.html.twig' %}

{% block title %}Détail du projet {{ projet.nom }}{% endblock %}


{% block body %}

    <!--*********************  Projet *************************-->
    <div class="row">
        <div class="col">
            <section class="border border-light bg-bleuRoi p-2 mb-3">

                <h2>{{ projet.nom }}</h2>

                <div class="col text-right">
                    {#{% if is_granted('ROLE_ADMIN') %}#}
                    <a href="{{ path('projet_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}" class="btn btn-warning" title="Modifier ce message">Modifier &#128393;</a>
                    {{ include('projet/_delete_form.html.twig') }}
                    {#{% endif %}#}
                </div>

                <div class="row">

                    <!-- icones des réseaux sociaux -->                                    
                    <div class="col-md-12">
                        <div class="mb-3">
                            <a href="{{ projet.lienFacebook }}" class="text-white mr-1"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a href="{{ projet.lienTwitter }}" class="text-white mr-1"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a href="{{ projet.lienYoutube }}" class="text-white mr-1"><i class="fab fa-youtube-square fa-2x"></i></a>
                            <a href="{{ projet.lienSoundcloud }}" class="text-white mr-1"><i class="fab fa-soundcloud fa-2x"></i></a>
                            <a href="{{ projet.lienLinkedin }}" class="text-white mr-1"><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div> <!-- /.col -->
                


                    <!-- lecteur audio -->                                   
                    <div class="col-md-12">
                        <div class="mb-3">
                            <audio controls>
                                <source src="{{ projet.iframeSon1 }}">
                                Votre navigateur doit être mis à jour pour lire ce fichier audio.
                            </audio>
                        </div>
                    </div> <!-- /.col -->
                


                    <!-- vidéo Youtube -->                                   
                    <div class="col-md-12">
                        <div class="d-flex justify-content-sm-around justify-content-md-start">

                            <div class="mr-1">
                                <iframe width="150" height="150" src="{{ projet.iframeVideo1 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div>
                                <iframe width="150" height="150" src="{{ projet.iframeVideo2 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    
                        </div>
                    </div> <!-- /.col -->

                </div> <!-- /.row -->


            </section>
        </div> <!-- /.col -->
    </div> <!-- /.row -->

{% endblock %}

{#{% endif %}#}