{% extends 'layout-accueil.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-md-12">
                    <!--*****************************************************
                    //////////////////  CONTENU DE LA PAGE  /////////////////
                    ******************************************************-->

                    <!--////////////////  BARRE DE RECHERCHE  ////////////////-->
                    <div class="recherche-wrap">

                        <h1 class="text-center mb-3">Recherchez un de nos <span class="text-vanille">talentueux artiste </span>!</h1>

                        {% include 'component/_search.html.twig' %}


                    </div> <!-- /.recherche-wrap -->


                </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div> <!-- /.container -->
    </div> <!-- /.container-fluid -->



    <div class="container-fluid bg-bleuRoi">
        <div class="container">

            <!--***************  S'inscrire ou rechercher ***************-->
            <div class="row">
                <div class="col">
                    <section class="inscription-recherche mb-3">

                        <h2 class="text-center mt-3">Rejoignez nos artistes !</h2>

                        <!-- S'inscrire -->
                        <div class="row mb-3">

                            <div class="col-12">
                                <p>{{ contenu.summaryText2 }}</p>
                            </div>

                            <div class="col-12 text-center d-flex justify-content-end mt-4">
                                <button class="btn btn-vanille btn-lg my-2" type="button"><a href="{{ path('artiste_inscription') }}" class="text-reset">{{ contenu.summaryBouton2 }}</a></button>
                            </div>

                        </div>


                        <h2 class="text-center">Recherchez nos artistes !</h2>

                        <!-- Recherche -->
                        <div class="row">

                            <div class="col-12">
                                <p>{{ contenu.summaryText1 }}</p>
                            </div>

                            <div class="col-12 text-center d-flex justify-content-end mt-4">
                                <button class="btn btn-vanille btn-lg my-2" type="button"><a href="{{ contenu.summaryLien1 }}" class="text-reset"></a>{{ contenu.summaryBouton1 }}</button>
                            </div>

                        </div>

                    </section> <!-- /.inscription-recherche -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->



            <!--***************** Présentation de l'association *********************-->
            <div class="row">
                <div class="col">

                    <div class="media mb-3">
                        <img src="{{ contenu.presentationImage }}" class="img-fluid mr-3" alt="#">
                        <div class="media-body">
                            <p>{{ contenu.presentationText }}</p>
                        </div>
                    </div>

                </div> <!-- /.col -->
            </div> <!-- /.row -->


        </div> <!-- /.container -->
    </div> <!-- /.container-fluid -->

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('contenu_index') }}">back to list</a>

    <a href="{{ path('contenu_edit', {'id': contenu.id}) }}">edit</a>

    {{ include('contenu/_delete_form.html.twig') }}
    {% endif %}



{% endblock %}

