{% extends 'layout.html.twig' %}

{% block title %}Artiste{% endblock %}


{% block body  %}


<!--*****************************************************
//////////////////  CONTENU DE LA PAGE  /////////////////
******************************************************-->

<!--///////////////////  FORMULAIRE  //////////////////-->

    <div class="row">
        <div class="col">
            <section class="formulaire d-md-flex  justify-content-center">

                <div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
                    <div class="form-group">
                        {{ form_label(form.expediteur) }}

                        {{ form_widget(form.expediteur) }}
                        {{ form_help(form.expediteur) }}
                    </div>
            

                    <div class="form-group">
                        {{ form_label(form.sujet) }}
                        {{ form_errors(form.sujet) }}
                        {{ form_widget(form.sujet) }}
                        {{ form_help(form.sujet) }}
                    </div>


                    <div class="form-group">
                        {{ form_label(form.texte) }}
                        {{ form_errors(form.texte) }}
                        {{ form_widget(form.texte) }}
                        {{ form_help(form.texte) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.liste) }}
                        {{ form_errors(form.liste) }}
                        {{ form_widget(form.liste) }}
                        {{ form_help(form.liste) }}
                    </div>

            

                        {{ form_end(form) }}
                </div>

            </section>
        </div> <!-- /.col -->
    </div> <!-- /.row -->





            <div class="form-group">
                {{ form_label(form.fichier) }}
                {{ form_errors(form.fichier) }}
                {{ form_widget(form.fichier) }}
                {{ form_help(form.fichier) }}


                <div class="row">
                    <div class="col">


                        {% if is_granted('ROLE_ADMIN') %}

                            <!--///////////////////  ADMIN-CHECKBOX  //////////////////-->
                            <section class="admin-checkbox">
                                
                                <div>
                                    {{ form_label(form.nouveau) }}
                                    {{ form_errors(form.nouveau) }}
                                    {{ form_widget(form.nouveau) }}
                                    {{ form_help(form.nouveau) }}
                                </div>

                                <div>
                                    {{ form_label(form.enCours) }}
                                    {{ form_errors(form.enCours) }}
                                    {{ form_widget(form.enCours) }}
                                    {{ form_help(form.enCours) }}
                                </div>

                                <div>
                                    {{ form_label(form.termine) }}
                                    {{ form_errors(form.termine) }}
                                    {{ form_widget(form.termine) }}
                                    {{ form_help(form.termine) }}
                                </div>

                                <div>
                                    {{ form_label(form.archive) }}
                                    {{ form_errors(form.archive) }}
                                    {{ form_widget(form.archive) }}
                                    {{ form_help(form.archive) }}
                                </div>

                            </section> <!-- /.admin-checkbox -->

                        {% endif %}


                    </div> <!-- /.col -->
                </div> <!-- /.row -->


            </div> <!-- /.form.fichier -->





    

      <!--///////////////////  FAVORIS  //////////////////-->
      <!-- <div class="row">
            <div class="col border my-3 bg-bleuRoi">
                <section>

                        <h5 class="my-3">Selectionnez un ou plusieurs favoris à contacter</h5>

                    <div class="row ">

                        



                        <div class="col-xs-4 mb-3 ml-3 position-relative">
                            <img src="http://placehold.it/90x90" alt="#" class="img-fluid">
                            <i class="coeur fas fa-heart fa-lg text-white position-absolute"></i>
                        </div>

                        <div class="col-xs-4 mb-3 ml-3 position-relative">
                            <img src="http://placehold.it/90x90" alt="#" class="img-fluid">
                            <i class="coeur fas fa-heart fa-lg text-white position-absolute"></i>
                        </div>

                        <div class="col-xs-4 mb-3 ml-3 position-relative">
                            <img src="http://placehold.it/90x90" alt="#" class="img-fluid">
                            <i class="coeur fas fa-heart fa-lg text-white position-absolute"></i>
                        </div>

                        <div class="col-xs-4 mb-3 ml-3 position-relative">
                            <img src="http://placehold.it/90x90" alt="#" class="img-fluid">
                            <i class="coeur fas fa-heart fa-lg text-white position-absolute"></i>
                        </div>

                        <div class="col-xs-4 mb-3 ml-3 position-relative">
                            <img src="http://placehold.it/90x90" alt="#" class="img-fluid">
                            <i class="coeur fas fa-heart fa-lg text-white position-absolute"></i>
                        </div>

                    </div>

                </section> 
            </div> 
        </div>
        -->
        
        

    </div> <!-- /.container -->
</div> <!-- /.container-fluid -->
{% endblock %}


