{% extends 'layout.html.twig' %}

{% if is_granted('ROLE_ADMIN') %}

{% block title %}Liste des messages{% endblock %}

{% block content %}

    <div class="container">
        <h1>Liste des messages reçus</h1>


    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Expediteur</th>
                <th>Sujet</th>
                <th>Texte</th>
                <th>Liste</th>
                <th>Fichier</th>
                <th>Nouveau</th>
                <th>EnCours</th>
                <th>Termine</th>
                <th>Archive</th>
                <th>Afficher</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.expediteur }}</td>
                <td><strong><a href="{{ path('message_show', {'id': message.id}) }}">{{ message.sujet | raw }}</a></strong></td>
                <td>{{ message.texte | summary  }}</td>

                {% if message.liste is not empty %}
                    <td class="text-center">&#128504;</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if message.fichier is not same as ("404.jpg") %}
                    <td class="text-center">&#128504;</td>
                    {% else %}
                    <td></td>
                {% endif %}
                <td class="text-center">{{ message.nouveau ? '&#128504;' : '' }}</td>
                <td class="text-center">{{ message.enCours ? '&#128504;' : '' }}</td>
                <td class="text-center">{{ message.termine ? '&#128504;' : '' }}</td>
                <td class="text-center">{{ message.archive ? '&#128504;' : '' }}</td>
                <td class="text-center"><a href="{{ path('message_show', {'id': message.id}) }}" class="btn btn-success supericon">&#128456;</a></td>
                <td class="text-center"><a href="{{ path('message_edit', {'id': message.id}) }}" class="btn btn-warning supericon">&#128393;</a></td>
                <td class="text-center">{{ include('message/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Désolé, la liste est vide  &#127773; </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('message_new') }}" class="btn btn-primary" title="Créer un nouveau message">Créer un nouveau message</a>
    </div>

 </div>

{% endblock %}


{% endif %}

