{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Categorie index{% endblock %}

{% block content %}

<div class="container">
    <h1>Liste des différentes catégories</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Famille</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.code }}</td>
                <td>{{ categorie.famille }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('categorie_new') }}" class="btn btn-primary" title="Créer une nouvelle">Créer une nouvelle catégorie</a>
    </div>

</div>
{% endblock %}

{#{% endif %}#}